<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources.io</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <h1 class="text-xl font-semibold">🎓 B.Tech Hub</h1>
      <nav class="space-x-6">
        <a href="/" class="text-gray-600 hover:text-blue-600">Home</a>
        <a href="/Syllabus" class="text-gray-600 hover:text-blue-600">Syllabus</a>
        <a href="/sgpa" class="text-gray-600 hover:text-blue-600">University</a>
        <a href="/resources" class="text-gray-600 hover:text-blue-600">Resources</a>
      </nav>
    </div>
  </header>


  <script src="{{ url_for('static', filename='js/resources.js') }}"></script>
</body>
</html>